body{
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

header{
    height: auto;
    margin: 0px;
    background-color:  #162b4e;
    border-bottom:5px solid grey;
}

.flex-header{
    display: flex;
}

nav{
    margin-left: auto;
    position: right;
    margin-top: 100px;
    margin-right: 80px;
    font-size: 130%;
}

.botones{
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 100px;
    color: white;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
    padding: 5px;
}

#logo{
    width: 190px;
    margin-left: 100px;
    margin-bottom: -20px;  
}

.flex-contacto{
    display: flex;
    color: white;
    justify-content: center;
    flex-wrap: nowrap;
}
.tituloContacto{
    margin: 0px;
    text-align: center;
}

.info{
    margin: 10px;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.linkMail:link{
    color: white;
}

.linkMail:hover{
    color: blue;
}

.iconoContacto{
    width:30px;
    height: 30px;
}

footer{
    height: auto;
    background-color: #162b4e;
    border-top:grey 5px solid;
    font-size: 120%;
    width: 100%;
    position: relative;
    bottom: -90px;
}

.flex-flota{
    display: flex;
    margin-bottom: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
}

.flota{
    margin: 50px;
    font-size: 18px;
    width: auto;
}

.flex-galeriaFotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.fotos{
    margin: 10px;
    width: 300px;
    height: auto;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32);
    padding: auto;
}

article{
    background-color: grey;
    height: auto;
    width: auto;
}
.flex-beneficios{
    display: flex;
    margin: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
}